@model Tavarta.ViewModel.Comments.CommentViewModel

@using DNT.Extensions



<div class="hidden">

    <tr id="user-@Model.Id">
        <td class=" center">@Model.Title</td>
        <td class="hidden-xs center">@Model.CreatorDisplayName</td>

        <td class="right ">@Model.Body</td>
        <td class="hidden-xs center">@Model.Email</td>

        <td class=" center">
            <div class="visible-md visible-lg visible-xs visible-sm  ">
                <a href="@Url.Action("Edit", new {Model.Id})" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Edit"><i class="fa fa-pencil"></i></a>
                @*<a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Share"><i class="fa fa-share"></i></a>*@
                <a href="@Url.Action("Delete", new {Model.Id})" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
                @if (Model.IsShow)
            {

                    <a class="btn   btn-success btn-scroll btn-scroll-top fa fa-check-square-o "
                       data-ajax="true" data-ajax-method="POST"
                       data-ajax-mode="REPLACE-WITH"
                       data-ajax-update="#user-@Model.Id"
                       href="@Url.Action("EnableComment", new {Model.Id})" role="button">
                        <span><i class="fa fa-check-square-o"></i>عدم نمایش</span>
                    </a>
                }
                else
                {
                    <a class="btn  btn-dark-red btn-scroll btn-scroll-top fa fa-ban @(Model.IsShow ? "not-active" : "")"
                       data-ajax="true" data-ajax-method="POST"
                       data-ajax-mode="REPLACE-WITH"
                       data-ajax-update="#user-@Model.Id"
                       href="@Url.Action("DisableComment", new {Model.Id})" role="button">
                        <span><i class="fa fa-ban"></i> نمایش </span>
                    </a>
                }
            </div>
        </td>
        @*<td class=" center">

            @if (Model.IsShow)
            {

                <a class="btn   btn-success btn-scroll btn-scroll-top fa fa-check-square-o "
                   data-ajax="true" data-ajax-method="POST"
                   data-ajax-mode="REPLACE-WITH"
                   data-ajax-update="#user-@Model.Id"
                   href="@Url.Action("EnableComment", new {Model.Id})" role="button">
                    <span><i class="fa fa-check-square-o"></i>عدم تایید</span>
                </a>
            }
            else
            {
                <a class="btn  btn-dark-red btn-scroll btn-scroll-top fa fa-ban @(Model.IsShow ? "not-active" : "")"
                   data-ajax="true" data-ajax-method="POST"
                   data-ajax-mode="REPLACE-WITH"
                   data-ajax-update="#user-@Model.Id"
                   href="@Url.Action("DisableComment", new {Model.Id})" role="button">
                    <span><i class="fa fa-ban"></i> تایید  </span>
                </a>
            }
        </td>*@

        @*<td class="hidden-xs">
                <a href="#" rel="nofollow" target="_blank">
                </a>
            </td>*@
        @*<td class="hidden-xs"></td>*@
        @*<td class="center">
                <div class="visible-md visible-lg hidden-sm hidden-xs">
                    <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Edit"><i class="fa fa-pencil"></i></a>
                    <a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Share"><i class="fa fa-share"></i></a>
                    <a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
                </div>
                <div class="visible-xs visible-sm hidden-md hidden-lg">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Dropdown<span class="caret"></span></button>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu">
                            <li><a href="#fakelink">Sub Menu Element</a></li>
                            <li><a href="#fakelink">Sub Menu Element</a></li>
                            <li><a href="#fakelink">Sub Menu Element</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdown-toggle>
                            <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                            <li>
                                <a href="@Url.Action("Edit",new {Model.Id})">
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Share
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Remove
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>*@
    </tr>
</div>

<!-- end: STRIPED ROWS -->