@using Tavarta.Common.Extentions
@model List<Tavarta.ViewModel.News.LastArticleViewModel>

@{ var temp = 0;}
<div class="row">
    <div class="hidden-xxs hidden-xs col-sm-12 " id="main-news-sidebar">
        <div class="widget widget-bordered title-a latest-news-widget">
            <h2 class="">
                آخرین مطالب
            </h2>
            <div role="tabpanel">
                <div class="latest-news">
                    <ul class="padding-x nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" class="  active">
                            <a href="#news-all" data-toggle="tab">همه</a>
                        </li>
                        <li role="presentation" class="  ">
                            <a href="#news-internal" data-toggle="tab">استان</a>
                        </li>
                        <li role="presentation" class="  ">
                            <a href="#news-external" data-toggle="tab">ایران و جهان</a>
                        </li>

                        <li role="presentation" class="  special ">
                            <a href="#news-special" data-toggle="tab">اختصاصی</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="news-all">
                            <ul class="list zebra">
                                @foreach (var tt in Model)
                                {
                                    temp
                                    ++;
                                if (tt.Category.Name == "اختصاصی")
                                {

                                <li>
                                    <time class="special" datetime="">
                                        @tt.PublishedOn.TimeOfDay.ToHHMM()
                                    </time>
                                    <span class="text-default fa fa-video-camera"></span>
                                    <a target="_blank" href="@Url.Action("Details", "News", new {Title = tt.Title.ToSeoUrl(), tt.Id})"class="detail">

                                        @tt.Title
                                    </a>
                                </li>

                                }
                                else if (tt.Category.Name == "گالری تصاویر")
                                {
                                <li>
                                    <time class="" datetime="">
                                        @tt.PublishedOn.TimeOfDay.ToHHMM()
                                    </time>
                                     
                                    <span class="text-default fa fa-camera"></span>
                                    <a target="_blank" href="@Url.Action("Details", "News", new {Title = tt.Title.ToSeoUrl(), tt.Id})"class="detail">

                                        @tt.Title
                                    </a>
                                </li>
                                    }
                                    else
                                    {

                                        if(temp<=34)
                                        {
                                            <li>
                                                <time class="" datetime="">
                                                    @tt.PublishedOn.TimeOfDay.ToHHMM()
                                                </time>

                                                <a target="_blank" href="@Url.Action("Details", "News", new {Title = tt.Title.ToSeoUrl(), tt.Id})"class="detail">

                                                    @tt.Title
                                                </a>
                                            </li>
                                            }
                                          
                                }

                                }

                                
                                     

                            </ul>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="news-internal">
                            <ul class="list zebra">
                                @foreach (var tt in Model)
                                {
                                if (tt.Category.Name == "استان")
                                {

                                <li>
                                    <time class="" datetime="">
                                        @tt.PublishedOn.TimeOfDay.ToHHMM()
                                    </time>

                                     <a target="_blank" href="@Url.Action("Details", "News", new {Title = tt.Title.ToSeoUrl(), tt.Id})"class="detail">

                                        @tt.Title
                                    </a>
                                </li>

                                }

                                }
                            </ul>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="news-external">
                            <ul class="list zebra">
                                @foreach (var tt in Model)
                                {
                                if (tt.Category.Name == "ایران و جهان")
                                {

                                <li>
                                    <time class="" datetime="">
                                        @tt.PublishedOn.TimeOfDay.ToHHMM()
                                    </time>
                                    <span class="text-default fa fa-video-camera"></span>
                                      <a target="_blank" href="@Url.Action("Details", "News", new {Title = tt.Title.ToSeoUrl(), tt.Id})"class="detail">

                                        @tt.Title
                                    </a>
                                </li>

                                }

                                }
                            </ul>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="news-special">
                            <ul class="list zebra">
                                @foreach (var tt in Model)
                                {
                                if (tt.Category.Name == "اختصاصی")
                                {

                                <li>
                                    <time class="special" datetime="">
                                        @tt.PublishedOn.TimeOfDay.ToHHMM()
                                    </time>
                                    <span class="text-default fa fa-video-camera"></span>
                                      <a target="_blank" href="@Url.Action("Details", "News", new {Title = tt.Title.ToSeoUrl(), tt.Id})"class="detail">

                                        @tt.Title
                                    </a>
                                </li>

                                }

                                }
                            </ul>
                        </div>

                        @*@{ Html.RenderPartial("_LatestArticlesAjax", Model);}*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>