@using DNT.Extensions
@using Tavarta.DataLayer.Context
@model Tavarta.ViewModel.Posts.PostViewModel


<div class="" id="user-@Model.Id">
    <div class="col-md-12 data-item">

        <tr>
            <td class="center"><img src="assets/images/avatar-1.jpg" class="img-rounded" alt="image" /></td>
            <td>@Model.Title</td>
            <td class="hidden-xs">@Model.TagNames</td>
            <td class="hidden-xs">@Model.Category.Name</td>          
            <td class="hidden-xs">@Model.Author.DisplayName</td>          
            
            
            <td class="hidden-xs">
                <a href="#" rel="nofollow" target="_blank">
                    @Model.Body
                </a>
            </td>
            <td class="hidden-xs">@Model.PublishedOn.ToLongPersianDate()</td>
            <td class="center">
                <div class="visible-md visible-lg hidden-sm hidden-xs">
                    <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Edit"><i class="fa fa-pencil"></i></a>
                    <a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Share"><i class="fa fa-share"></i></a>
                    <a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
                </div>
                <div class="visible-xs visible-sm hidden-md hidden-lg">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Dropdown<span class="caret"></span></button>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu">
                            <li><a href="#fakelink">Sub Menu Element</a></li>
                            <li><a href="#fakelink">Sub Menu Element</a></li>
                            <li><a href="#fakelink">Sub Menu Element</a></li>
                            </ul>
                    </div>
                    <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdown-toggle>
                                <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                <li>
                                    <a href="#">
                                        Edit
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Share
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Remove
                                    </a>
                                </li>
                            </ul>
                        </div>
                </div>
            </td>
        </tr>
    </div>
</div>
<!-- end: STRIPED ROWS -->