@model Tavarta.ViewModel.Comments.AddCommentsViewModel

@{
//Model.PostId = ViewBag.PostId;
}

@*<div class="row">
    <div class="col-md-12" style="background-color: white">

        <div class="post-media post-comments margin-top-30">
            <h4>نظرات (3)</h4>
            <div class="media">

                @foreach (var tt in Model.Comments)
                {
                    <a href="#" class="pull-right"> <img src="~/Content/assets/images/avatar-1-small.jpg" alt="" class="media-object img-circle"> </a>
                    <div class="media-body">
                        <h5 class="media-heading">@tt.Email </h5>

                        <p style="margin-right: 20px; margin-top: 10px">
                            @tt.Body
                        </p>
                        <span class="date">@tt.CreatedOn.Date.Year</span>
                        <hr>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: #f0f0f0"><br/> <br/>
</div>*@




@using (Html.BeginForm("PostComments", "Comment", FormMethod.Post))
{
    
    @Html.HiddenFor(x=>x.PostId)
    <div class="post-block post-leave-comment border-top border-dark">
        <h3>ارسال نظر</h3>
        <form action="" type="post">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(x => Model.Title)
                        @Html.TextBoxFor(x => Model.Title, new {@class = "form-control"})
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => Model.Email)
                        @Html.TextBoxFor(x => Model.Email, new {@class = "form-control"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(x => Model.Body)
                        @Html.TextAreaFor(x => Model.Body, new {@class = "form-control", maxlength = "5000", rows = "10"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button style="margin-top: 5px; margin-bottom: 5px;" class="btn btn-primary btn-wide  margin-top-15 pull-right" type="submit"> <span>ارسال نظر</span></button>
                     @*<a href="blog_post.html" class="btn btn-primary btn-wide btn-scroll btn-scroll-top fa-arrow-right margin-top-15 pull-right" data-caption-class="fadeIn" data-caption-delay="900"> <span>ارسال نظر</span> </a>*@
                </div>
            </div>
        </form>
    </div>
}