@using DNT.Extensions

@{
    var comments =(string)ViewBag.TotalComments.ToString();
    comments = comments.ToPersianContent(true);

    var posts = (string)ViewBag.TotalPosts.ToString();
    posts = posts.ToPersianContent(true);

    var users =(string) ViewBag.TotalUsers.ToString();
    users = users.ToPersianContent(true);

  






    <!-- Begin ToolsIR.com Oghat code -->
<script src="http://oghat.toolsir.com/azan.php?mod=1&border=1&az=0&city=7-7" type="text/javascript"></script>
<!-- End ToolsIR.com Oghat code -->
}

  



<div style="display:none;"><h2><a href="http://www.toolsir.com/">دریافت کد اوقات شرعی</a></h2></div>

@*<div id="app">
    <!-- sidebar -->
    <div class="sidebar app-aside" id="sidebar">
        <div class="sidebar-container perfect-scrollbar">
            <nav>
                <!-- start: SEARCH FORM -->
                <div class="search-form">
                    <a class="s-open" href="#">
                        <i class="ti-search"></i>
                    </a>
                    <form class="navbar-form" role="search">
                        <a class="s-remove" href="#" target=".navbar-form">
                            <i class="ti-close"></i>
                        </a>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <button class="btn search-button" type="submit">
                                <i class="ti-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- end: SEARCH FORM -->
                <!-- start: MAIN NAVIGATION MENU -->
                <div class="navbar-title">
                    <h5>تاورتا </h5>
                </div>
                <ul class="main-navigation-menu">
                    <li class="active open">
                        <a href="index.html">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-home"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> پنل مدیریتی </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-settings"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> نگهداری سیستم</span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="ui_elements.html">
                                    <span class="title"> Elements </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-layout-grid2"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> مدیریت </span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="table_basic.html">
                                    <span class="title">Basic Tables</span>
                                </a>
                            </li>
                            <li>
                                <a href="table_responsive.html">
                                    <span class="title">Responsive Tables</span>
                                </a>
                            </li>
                            <li>
                                <a href="table_data.html">
                                    <span class="title">Advanced Data Tables</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-pencil-alt"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> مدیریت نوشته ها </span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="form_elements.html">
                                    <span class="title">نوشته جدید</span>
                                </a>
                            </li>
                            <li>
                                <a href="form_text_editor.html">
                                    <span class="title">Text Editor</span>
                                </a>
                            </li>
                            <li>
                                <a href="form_wizard.html">
                                    <span class="title">Form Wizard</span>
                                </a>
                            </li>
                            <li>
                                <a href="form_validation.html">
                                    <span class="title">Form Validation</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-user"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> مدیریت کاربران </span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="login_signin.html">
                                    <span class="title"> پروفایل کاربران </span>
                                </a>
                            </li>
                            <li>
                                <a href="login_registration.html">
                                    <span class="title"> گروه های کاربری </span>
                                </a>
                            </li>
                            <li>
                                <a href="login_forgot.html">
                                    <span class="title"> لیست کاربران </span>
                                </a>
                            </li>
                            <li>
                                <a href="login_lockscreen.html">
                                    <span class="title">Lock Screen</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- end: MAIN NAVIGATION MENU -->
                <!-- start: CORE FEATURES -->
                <div class="navbar-title">
                    <span>ویژگی ها </span>
                </div>
                <ul class="folders">
                    <li>
                        <a href="pages_calendar.html">
                            <div class="item-content">
                                <div class="item-media">
                                    <span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> تاریخ </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="pages_messages.html">
                            <div class="item-content">
                                <div class="item-media">
                                    <span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-folder-open-o fa-stack-1x fa-inverse"></i> </span>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> پیام ها </span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- end: CORE FEATURES -->
            </nav>
        </div>
    </div>
    <!-- / sidebar -->
    <div class="app-content">

        <div class="main-content">
            <div class="wrap-content container" id="container">
                <!-- start: DASHBOARD TITLE -->
                <section id="page-title" class="padding-top-15 padding-bottom-15">
                    <div class="row">
                        <div class="col-sm-7">
                            <h1 class="mainTitle">پنل مدیریتی</h1>
                            <span class="mainDescription">کنترل سیستم </span>
                        </div>
                    </div>
                </section>*@
<!-- end: DASHBOARD TITLE -->
<br/>
<br/>
<br/>

<!-- start: FEATURED BOX LINKS -->
                <div class="container-fluid container-fullw bg-white">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-white no-radius text-center">
                                <div class="panel-body">
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i> </span>
                                    <h2 class="StepTitle">مدیریت کاربران</h2>
                                    <p class="text-small">
                                        تعداد کاربران : @users
                                    </p>
                                    <p class="links cl-effect-1">
                                        <a href="@Url.Action("List","User")">
                                            بیشتر
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-white no-radius text-center">
                                <div class="panel-body">
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-paperclip fa-stack-1x fa-inverse"></i> </span>
                                    <h2 class="StepTitle"> مدیریت گروه ها</h2>
                                    <p class="text-small">
                                       انجام کار مدیریتی بر گروه
                                    </p>
                                    <p class="cl-effect-1">
                                        <a href="@Url.Action("List","Role")">
                                            بیشتر
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-white no-radius text-center">
                                <div class="panel-body">
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                                    <h2 class="StepTitle">مدیریت سلاید شو</h2>
                                    <p class="text-small">
                                        امکانات مربوطه به سلایدشو
                                    </p>
                                    <p class="links cl-effect-1">
                                        <a href="@Url.Action("List","SlideShow")">
                                            بیشتر
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: FEATURED BOX LINKS -->
                <br />
                <br />
                <!-- start: FEATURED BOX LINKS2 -->
                <div class="container-fluid container-fullw bg-white padding-bottom-10">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-indigo no-radius text-center">
                                <div class="panel-body">
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i> </span>
                                    <h2 class="StepTitle">مدیریت نظرات</h2>
                                    <p class="text-small">
                                       تعداد کامنت : @comments
                                    </p>
                                    <p class="links cl-effect-1">
                                        <a href="@Url.Action("List","Comments")">
                                            بیشتر
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-indigo no-radius text-center">
                                <div class="panel-body">
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-paperclip fa-stack-1x fa-inverse"></i> </span>
                                    <h2 class="StepTitle"> مدیرت نوشته ها</h2>
                                    <p class="text-small">
                                        تعداد پست : @posts
                                    </p>
                                    <p class="cl-effect-1">
                                        <a href="@Url.Action("List","Post")">
                                            بیشتر
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-indigo no-radius text-center">
                                <div class="panel-body">
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                                    <h2 class="StepTitle">گزارشات</h2>
                                    <p class="text-small">
                                        در این قسمت گزارشات مدیریت می شود
                                    </p>
                                    <p class="links cl-effect-1">
                                        <a href>
                                            بیشتر
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: FEATURED BOX LINKS2 -->
                <br />
                <br />
            @*</div>
        </div>
    </div>*@
    @*<!-- start: FOOTER -->
    <footer>
        <div class="footer-inner">
            <div class="pull-right">
                &copy; <span class="current-year"></span><span class="text-bold text-uppercase"> تاورتا</span>. <span>تمام حقوق مطعلق به سایت</span>
            </div>
            <div class="pull-left">
                <span class="go-top"><i class="ti-angle-up"></i></span>
            </div>
        </div>
    </footer>
    <!-- end: FOOTER -->
    <!-- start: OFF-SIDEBAR -->
    <!-- end: OFF-SIDEBAR -->
    <!-- start: SETTINGS -->
    <div class="settings panel panel-default hidden-xs hidden-sm" id="settings">
        <button ct-toggle="toggle" data-toggle-class="active" data-toggle-target="#settings" class="btn btn-default">
            <i class="fa fa-spin fa-gear"></i>
        </button>
        <div class="panel-heading">
            Style Selector
        </div>
        <div class="panel-body">
            <!-- start: FIXED HEADER -->
            <div class="setting-box clearfix">
                <span class="setting-title pull-left"> Fixed header</span>
                <span class="setting-switch pull-right">
                    <input type="checkbox" class="js-switch" id="fixed-header" />
                </span>
            </div>
            <!-- end: FIXED HEADER -->
            <!-- start: FIXED SIDEBAR -->
            <div class="setting-box clearfix">
                <span class="setting-title pull-left">Fixed sidebar</span>
                <span class="setting-switch pull-right">
                    <input type="checkbox" class="js-switch" id="fixed-sidebar" />
                </span>
            </div>
            <!-- end: FIXED SIDEBAR -->
            <!-- start: CLOSED SIDEBAR -->
            <div class="setting-box clearfix">
                <span class="setting-title pull-left">Closed sidebar</span>
                <span class="setting-switch pull-right">
                    <input type="checkbox" class="js-switch" id="closed-sidebar" />
                </span>
            </div>
            <!-- end: CLOSED SIDEBAR -->
            <!-- start: FIXED FOOTER -->
            <div class="setting-box clearfix">
                <span class="setting-title pull-left">Fixed footer</span>
                <span class="setting-switch pull-right">
                    <input type="checkbox" class="js-switch" id="fixed-footer" />
                </span>
            </div>
            <!-- end: FIXED FOOTER -->
            <!-- start: THEME SWITCHER -->
            <div class="colors-row setting-box">
                <div class="color-theme theme-1">
                    <div class="color-layout">
                        <label>
                            <input type="radio" name="setting-theme" value="theme-1">
                            <span class="ti-check"></span>
                            <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                            <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                        </label>
                    </div>
                </div>
                <div class="color-theme theme-2">
                    <div class="color-layout">
                        <label>
                            <input type="radio" name="setting-theme" value="theme-2">
                            <span class="ti-check"></span>
                            <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                            <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="colors-row setting-box">
                <div class="color-theme theme-3">
                    <div class="color-layout">
                        <label>
                            <input type="radio" name="setting-theme" value="theme-3">
                            <span class="ti-check"></span>
                            <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                            <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                        </label>
                    </div>
                </div>
                <div class="color-theme theme-4">
                    <div class="color-layout">
                        <label>
                            <input type="radio" name="setting-theme" value="theme-4">
                            <span class="ti-check"></span>
                            <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                            <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="colors-row setting-box">
                <div class="color-theme theme-5">
                    <div class="color-layout">
                        <label>
                            <input type="radio" name="setting-theme" value="theme-5">
                            <span class="ti-check"></span>
                            <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                            <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                        </label>
                    </div>
                </div>
                <div class="color-theme theme-6">
                    <div class="color-layout">
                        <label>
                            <input type="radio" name="setting-theme" value="theme-6">
                            <span class="ti-check"></span>
                            <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                            <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- end: THEME SWITCHER -->
        </div>
    </div>
    <!-- end: SETTINGS -->*@
@*</div>*@