@model Tavarta.ViewModel.News.NewsViewModel

<div class="col-xxs-12 col-xs-6 col-sm-6">
    <a href='@Url.Action("Details", "News", new {Model.Id})'>
        <div class="media">
            <div class="media-right">
                <img src="" alt="@Model.Title" width="120" height="80" data-original="@Model.Image" class="hotnews" />
            </div>
            <div class="media-body">
                <h6>@Model.Headline</h6>
                <h5 class="media-heading">
                    @Model.Title
                </h5>
            </div>
        </div>
    </a>
</div>


              @*<div class="col-md-12">
                                            <div class="ad-box-wrapper">
                                                <a href="/news/227791/%D8%A7%DB%8C%D9%86%D9%81%D9%88%DA%AF%D8%B1%D8%A7%D9%81%DB%8C-%D8%B3%D9%87%D9%85-%DA%98%D8%A7%D9%BE%D9%86%DB%8C%D9%87%D8%A7-%D8%A7%D8%B2-%D8%AA%D8%A7%D8%B1%DB%8C%D8%AE-%D9%84%DB%8C%DA%AF-%D8%A8%D8%B1%D8%AA%D8%B1-%D8%A7%D9%86%DA%AF%D9%84%DB%8C%D8%B3%D8%9B-19-%DA%AF%D9%84-%D9%88-15-%D9%BE%D8%A7%D8%B3-%DA%AF%D9%84/">
                                                    <div class="media">
                                                        <div class="media-right">
                                                            <img alt="اینفوگرافی/ سهم ژاپنی‌ها از تاریخ لیگ برتر انگلیس؛ 19 گل و 15 پاس گل" width="95" height="70" data-original="http://static.90tv.ir/3fcc478034bc22f4d806954105cef1ec_120_80_cropCenter.jpg" class="hotnews" src=""/>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>سر تیتر یک</h6>
                                                            <h5 class="media-heading">
                                                                اینفوگرافی/ سهم ژاپنی‌ها از تاریخ لیگ برتر انگلیس؛ 19 گل و 15 پاس گل
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>*@