@model Tavarta.ViewModel.SlideShow.DeleteSlideShowViewModel

<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-4 col-md-pull-4">
        <div class="box-register">
            <div class="modal-body">

                @using (Html.BeginForm("Delete", "SlideShow", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <fieldset>
                        <legend>
                            حذف سلاید شو
                        </legend>
                        <div class="row form-group">
                        </div>
                        <div class="row form-group">

                            @Html.LabelFor(m => m.Title, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DisplayTextFor(m => m.Title)
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(m => m.Order, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DisplayTextFor(x => x.Order)
                                @Html.ValidationMessageFor(m => m.Order, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(m => m.Link, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DisplayTextFor(m => m.Link)
                                @Html.ValidationMessageFor(m => m.Link, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            @Html.LabelFor(model => model.Image, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                <ul id="slideShowImages" class="list-group text-center">
                                    @if (Model.Id != Guid.Empty)
                                    {
                                        <li class="list-group-item">
                                            <a id="chooseImage" href="javascript:openCustomRoxy()">
                                                <img id="customRoxyImage" src="@Model.Image" aria-readonly="true">
                                                <span> انتخاب عکس</span>
                                            </a>
                                            @Html.HiddenFor(model => model.Image)
                                            <input type="hidden" name="@Html.NameFor(model => model.Order)" value="0" />
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <div class="row pull-left">
                            <div class="row form-group ">
                                <div class="col-md-12 col-md-pull-1 ">

                                    <button class="btn btn-success"> <i class="fa fa-save fa-lg"></i> حذف</button>

                                    <a href="@Url.Action("List", "SlideShow")" class="btn btn-default"> <i class="fa fa-list fa-lg"></i> فهرست اسلاید‌ها</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                }
            </div>
        </div>
    </div>
</div>

<div id="roxyCustomPanel2" style="display: none;">

    <iframe src="/Scripts/fileman/index.html?integration=custom&txtFieldId=@Html.IdFor(model => model.Image)" style="width: 100%; height: 100%; display: block;"></iframe>
</div>
@section scripts
{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>

        function openCustomRoxy() {
            $('#roxyCustomPanel2').dialog({ modal: true, width: 800, height: 500 });
        }

        function closeCustomRoxy() {
            $('#roxyCustomPanel2').dialog('close');
        }

        $("#slideShowImages")
            .sortable({
                cancel: ".list-group-item-disabled",
                revert: true,
                forcePlaceholderSize: true,
                placeholder: 'ui-state-highlight',
                cursor: "move",
                update: function (event, ui) {
                    $(this)
                        .children("li")
                        .each(function (index, item) {
                            $(item).find("input[name='Order']").val(index);
                        });
                }
            })
            .disableSelection();
    </script>
    <script type="text/javascript">
        $('.pnlDirs').remove('width');
    </script>

}
@section JavaScript{
    <style>
        .list-group-item-disabled {
            opacity: .6;
        }

        #slideShowImages li img {
            height: 100px;
        }

        .pnlDirs {
            width: 100px;
        }

        .ui-state-highlight {
            height: 120px;
        }

        #slideShowImages li a#chooseImage {
            height: 120px;
            display: block;
            overflow: hidden;
            border: 1px dashed #ccc;
        }

            #slideShowImages li a#chooseImage span {
                display: block;
                padding-top: 55px;
            }
    </style>
}